/* Variables */
:root {
  --primary-text-color: #202c39;
  --primary-bg-color: #fbfbfb;
  --secondary-bg-color: #ebebeb;
  --accent-blue: #46b1c9;
  --accent-gray: #8d9499;
  --toggle-color: #fff;

  color-scheme: light dark;
}
.dark-mode {
  --primary-bg-color: #202c39;
  --primary-text-color: #fbfbfb;
  --secondary-bg-color: #2c3e50;
  --accent-gray: #b8bbbd;
  --toggle-color: var(--primary-bg-color);
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* General Styles */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
main,
footer {
  max-width: 54rem;
  margin: 0 auto;
  padding: 5rem 3rem 3rem;
}
a {
  color: var(--primary-text-color);
  padding: 0.4em 0;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
h1 {
  font-weight: 800;
  font-size: 4rem;
}
h2 {
  font-size: 1.6rem;
  margin: 0.6rem 0;
}
h3 {
  margin: 0.8rem 0 0;
}
p {
  margin-bottom: 1rem;
}
.sub {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.8rem 0 1.5rem;
}

/* Navigation Bar */
header {
  padding: 1em 2em 0.2em;
  border-bottom: 1px solid var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: var(--accent-gray);
  font-weight: 500;
}
header .logo {
  width: 120px;
}
.menu {
  display: flex;
  gap: 1.5em;
}
nav {
  display: flex;
  align-items: center;
  gap: 1.1em;
  color: var(--accent-gray);
}
nav .link {
  color: var(--accent-gray);
}
nav .link:hover {
  color: var(--primary-text-color);
  text-decoration: none;
}
nav a.active {
  color: var(--primary-text-color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.settings {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
button.toggle-box {
  border: none;
  background-color: var(--secondary-bg-color);
  border-radius: 50px;
  padding: 4px;
  color: var(--accent-gray);
}
.settings .toggle-long {
  padding: 4px 10px;
}
.toggle-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.toggle-box:hover {
  color: var(--primary-text-color);
}
.dark-mode-toggle {
  width: 24px;
}

/* Hero */
.hero {
  display: grid;
  gap: 1.5em;
}
.hero p {
  margin-bottom: 0;
}
.hero em {
  font-weight: 800;
  font-style: italic;
}
.actionBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actionBtn > img {
  height: 1.5em;
  margin-left: 0.8em;
  animation-name: bounce;
  animation-duration: 1.16s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.2em);
  }
  100% {
    transform: translateX(0);
  }
}

/* Footer */
footer {
  padding-top: 0;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(2, 32px);
  grid-template-rows: 32px;
  align-items: center;
  gap: 0.8em;
  /* Get rid of default list styles */
  list-style-type: none;
  padding-left: 0;
}
footer li {
  grid-row: 1;
  padding: 0;
}
footer img {
  height: 18px;
}

/* Toggle */
.toggle {
  height: 16px;
  width: 32px;
  border-radius: 8px;
  background-color: var(--accent-gray);
  display: flex;
  align-items: center;
  padding: 2px;
}
.toggleOn {
  background-color: var(--accent-blue);
}
.switch {
  height: 100%;
  width: 12px;
  border-radius: 50%;
  background-color: var(--toggle-color);
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;
  transition: transform 0.3s ease;
}
.switchOn {
  animation-name: switchOn;
}
.switchOff {
  animation-name: switchOff;
}
@keyframes switchOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(16px);
  }
}
@keyframes switchOff {
  0% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Projects */
.featured-projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 0.8em;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 20px;
  border-radius: 16px;
}
.project-card img {
  background-color: var(--secondary-bg-color);
  object-fit: cover;
  object-position: center top;
  border: var(--accent-blue) 1px solid;
  border-radius: 8px;
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease;
}
.project-card:hover {
  text-decoration: none;
  background-color: var(--secondary-bg-color);
}
.project-card:hover img {
  transform: scale(1.05);
}
.project-card:hover h3 {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.tech {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  margin-top: -10px;
}
.tech span {
  background-color: var(--accent-blue);
  color: var(--toggle-color);
  padding: 0.2em 0.6em;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 600;
}
