main,
footer {
  max-width: 48rem;
  margin: 0 auto;
  padding: 5rem 3rem 3rem;
}
a {
  color: #202c39;
  padding: 0.4em 0;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
h1 {
  font-weight: 800;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
.sub {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Navigation Bar */
header {
  padding: 1em 2em 0.2em;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 120px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1em;
}
.menu .link {
  color: #6e6e6e;
  font-size: 0.8em;
}
.menu .link:hover {
  color: #202c39;
}

/* Hero */
.hero {
  display: grid;
  gap: 1.5em;
}
.hero p {
  margin-bottom: 0;
}
.hero em {
  font-weight: 800;
  font-style: italic;
}
.actionBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actionBtn > img {
  height: 1.5em;
  margin-left: 0.8em;
  animation-name: bounce;
  animation-duration: 1.16s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.2em);
  }
  100% {
    transform: translateX(0);
  }
}

/* Footer */
footer {
  padding-top: 0;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(2, 32px);
  grid-template-rows: 32px;
  align-items: center;
  gap: 0.8em;
  /* Get rid of default list styles */
  list-style-type: none;
  padding-left: 0;
}
footer li {
  grid-row: 1;
  padding: 0;
}
footer img {
  height: 18px;
}

/* Toggle */
.toggle-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 1.5rem;
}
.toggle-box label {
  font-size: 0.8em;
  color: #6e6e6e;
}
.toggle {
  height: 16px;
  width: 32px;
  border-radius: 8px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding: 2px;
}
.toggleOn {
  background-color: #46b1c9;
}
.switch {
  height: 100%;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;
  transition: transform 0.3s ease;
}
.switchOn {
  animation-name: switchOn;
}
.switchOff {
  animation-name: switchOff;
}
@keyframes switchOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(16px);
  }
}
@keyframes switchOff {
  0% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}
