main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5rem 3rem;
}

/* Navigation Bar */
nav {
  padding: 2em 2em 1.5em;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #6e6e6e;
  text-decoration: none;
  font-size: 0.9rem;
}
.menu > a {
  margin-left: 1.5em;
}

/* Hero */
.hero > h1 {
  font-weight: 800;
  font-size: 3.5rem;
}
